.results {
    text-align: center;
}

.results p {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    border-bottom: 2px solid #c1b8b8;
}

.erro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
